* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
  }
  
  header {
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed; /* Adăugăm poziționarea fixă */
    top: 0; /* Specificăm să fie fixat în partea de sus a paginii */
    width: 100%; /* Asigurăm că ocupă întreaga lățime a ecranului */
    z-index: 1000; /* Setăm un z-index mare pentru a se afișa deasupra altor elemente */
  }
  .fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 1); /* Folosim o culoare aproape solidă */
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); /* Umbra ușoară */
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
  }
  
  .fixed-header .logo .name,
  .fixed-header .logo .subtitle,
  .fixed-header nav ul li a {
    color: #333; /* Schimbăm culoarea textului la scroll */
  }
  
  .logo {
    display: flex;
    flex-direction: column;
  }
  
  .logo .name {
    font-size: 40px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px 1px black;
  }
  

  nav ul {
    list-style: none;
    display: flex;
  }
  
  nav ul li {
    margin-right: 20px;
  }
  
  nav ul li a {
    text-decoration: none;
    font-weight: bold;
    padding: 10px 20px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border-radius: 20px;
    transition: background-color 0.3s ease;
  }
  
  nav ul li a:hover {
    background-color: #9a9494;
  }


.hero {
    background-color: #fff;
    padding: 300px 0;
    text-align: center;
  }
  
  .hero h1 {
    font-size: 30px;
    margin-bottom: 25px;
    font-weight: normal;
  }
  
  .btn {
    display: inline-block;
    padding: 10px 30px;
    background-color: #1E5573;
    color: white;
    text-decoration: none;
    border-radius: 20px;
    transition: background-color 0.5s ease;
  }
  
  .btn:hover {
    background-color: #0b0b0b;
  }

  #country {
    width: 300px; /* Lungime mai mare pentru casetă */
    margin: 0 auto; /* Centrarea pe mijloc */
    border: 2px solid #2c7188; /* Adăugarea unui contur cu albastru deschis */
    padding: 10px; /* Spațiere pentru conținut */
    text-align: center; /* Alinierea textului în mijloc */
    font-size: 16px; /* Mărimea textului */
    border-radius: 20px;
}

button[type="submit"] {
    background-color: #FFB6C1; /* Roz deschis */
    color: white; /* Text alb */
    padding: 10px 20px; /* Mărirea padding-ului pentru a face butonul mai mare */
    border: none; /* Eliminăm conturul */
    border-radius: 10px; /* Bordura butonului rotunjită */
    font-size: 16px; /* Mărimea textului */
    cursor: pointer; /* Cursor pointer la interacțiune */
    transition: background-color 0.3s ease; /* Efect de tranziție pentru schimbarea culorii de fundal */
}

button[type="submit"]:hover {
    background-color: #bc7a9a; /* Roșu deschis la hover */
}

.left-section {
    float: left;
    width: 50%; /* Se va întinde pe jumătate din lățimea secțiunii */
}

.right-section {
    float: right;
    width: 50%; /* Se va întinde pe jumătate din lățimea secțiunii */
}


.right-section img {
    width: 100%; /* Asigurăm că imaginea ocupă întreaga lățime a secțiunii */
}


.text{
    margin-bottom: 40px;
}

#create {
    text-align: center; /* Centrarea textului și a butonului */
    
}

#create h2 {
    margin-bottom: 20px; /* Spațierea de la buton */
}

.text h2{
    font-weight: normal;
}

#create button[type="submit"] {
    display: block; /* Facem butonul să fie un element de bloc */
    margin: 0 auto; /* Centrarea butonului */
}

.styled-button {
  background-color: #1E5573;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px; /* adăugat pentru spațiere */
}

.styled-button:hover {
  background-color: #0b0b0b;
}

.checkbox-options {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.checkbox-options input[type="checkbox"] {
  margin-right: 5px; /* spațiere între casetele de bifare și etichete */
}

.main-section {
  text-align: center;
  margin-bottom: 20px; /* Adăugăm un spațiu între elementele din main-section */

}

.main-section h2 {
  margin-bottom: 20px; /* Adăugăm un spațiu între h2 și butonul #beneficiaries-toggle */
  font-weight: normal;
}

#beneficiaries-toggle {
  /* Stilurile definite pentru clasa .btn */
  display: inline-block;
  padding: 10px 30px;
  background-color: #FFB6C1;
  border: none; /* Eliminăm conturul */
  color: white;
  border-radius: 10px;
  transition: background-color 0.5s ease;
  margin-bottom: 20px; /* Adăugăm un spațiu între butonul #beneficiaries-toggle și .checkbox-options */
}

#beneficiaries-toggle:hover {
  background-color: #bc7a9a;
}

.checkbox-options {
  padding: 10px;
  border: 10px solid #ccc;
  border-radius: 5px;
  background-color: #f2f2f2; /* Setăm culoarea gri deschis pentru fundal */
}

.checkbox-options label {
  display: block;
  text-align: center; /* Centrăm textul */
  margin-bottom: 5px; /* Adăugăm o mică separare între opțiuni */
}

.checkbox-options input[type="checkbox"] {
  margin-right: 5px;
  border-radius: 50%; /* Facem casuțele de bifare rotunde */
}
