* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
  }
  
  header {
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed; /* Adăugăm poziționarea fixă */
    top: 0; /* Specificăm să fie fixat în partea de sus a paginii */
    width: 100%; /* Asigurăm că ocupă întreaga lățime a ecranului */
    z-index: 1000; /* Setăm un z-index mare pentru a se afișa deasupra altor elemente */
  }
  .fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 1); /* Folosim o culoare aproape solidă */
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); /* Umbra ușoară */
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
  }
  
  .fixed-header .logo .name,
  .fixed-header .logo .subtitle,
  .fixed-header nav ul li a {
    color: #333; /* Schimbăm culoarea textului la scroll */
  }
  
  .logo {
    display: flex;
    flex-direction: column;
  }
  
  .logo .name {
    font-size: 40px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px 1px black;
  }
  
  .logo .subtitle {
    font-size: 24px;
    color: rgb(0, 0, 0);
    /*text-shadow: 1px 1px 1px black;*/
  }

  nav ul {
    list-style: none;
    display: flex;
  }
  
  nav ul li {
    margin-right: 20px;
  }
  
  nav ul li a {
    text-decoration: none;
    font-weight: bold;
    padding: 10px 20px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border-radius: 20px;
    transition: background-color 0.3s ease;
  }
  
  nav ul li a:hover {
    background-color: #9a9494;
  }


.hero {
    background-color: #fff;
    padding: 300px 0;
    text-align: center;
  }
  
  .hero h1 {
    font-size: 30px;
    margin-bottom: 25px;
  }
  
  .btn {
    display: inline-block;
    padding: 10px 30px;
    background-color: #1E5573;
    color: white;
    text-decoration: none;
    border-radius: 20px;
    transition: background-color 0.5s ease;
  }
  
  .btn:hover {
    background-color: #0b0b0b;
  }