* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}

header {
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed; /* Adăugăm poziționarea fixă */
  top: 0; /* Specificăm să fie fixat în partea de sus a paginii */
  width: 100%; /* Asigurăm că ocupă întreaga lățime a ecranului */
  z-index: 1000; /* Setăm un z-index mare pentru a se afișa deasupra altor elemente */
}
.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 1); /* Folosim o culoare aproape solidă */
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); /* Umbra ușoară */
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.fixed-header .logo .name,
.fixed-header .logo .subtitle,
.fixed-header nav ul li a {
  color: #333; /* Schimbăm culoarea textului la scroll */
}

.logo {
  display: flex;
  flex-direction: column;
}

.logo .name {
  font-size: 40px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  text-shadow: 1px 1px 1px black;
}

.logo .subtitle {
  font-size: 24px;
  color: rgb(0, 0, 0);
  /*text-shadow: 1px 1px 1px black;*/
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  font-weight: bold;
  padding: 10px 20px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border-radius: 20px;
  transition: background-color 0.3s ease;
}

nav ul li a:hover {
  background-color: #9a9494;
}

.hero {
  background-color: #fff;
  padding: 110px 0;
  text-align: center;
}

.hero h1 {
  font-size: 60px;
  margin-bottom: 25px;
}

.btn {
  display: inline-block;
  padding: 10px 30px;
  background-color: #555;
  color: white;
  text-decoration: none;
  border-radius: 20px;
  transition: background-color 0.5s ease;
}

.btn:hover {
  background-color: #0b0b0b;
}

.content {
  background-color: #ffffff;
  display: flex;
  flex-direction: column; /* Schimbăm direcția la coloană */
  align-items: center; /* Aliniem elementele pe orizontală */
  padding: 50px 70px;
}

.image-collage {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.image-item {
  flex: 1 1 200px;
  height: 200px;
  position: relative;
}

.image-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px; /* Rotunjim colțurile imaginilor */
}

.text-container {
  background-color: rgba(255, 255, 255, 0.9); /* Adăugăm culoare de fundal */
  padding: 20px; /* Adăugăm padding */
  border-radius: 10px; /* Rotunjim colțurile containerului */
  margin-top: 50px; /* Spațiu între poze și text */
  text-align: center; /* Aliniem textul la centru */
}

.content-text {
  font-weight: bold; /* Textul este acum bold */
  margin: 0; /* Eliminăm marginile implicite ale textului */
}


.overlay .btn {
  padding: 10px 20px;
  background-color: #555;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.overlay .btn:hover {
  background-color: #0b0b0b;
}

.promo {
  text-align: center;
  padding: 100px 0;
}

.promo h1:hover,
.promo h3:hover {
  text-shadow: 0 0 10px rgba(93, 32, 32, 0.8); /* Add a glowing effect */
  transition: text-shadow 1 ease; /* Add transition for smooth effect */
}

.promo-content {
  display: flex;
  align-items: center; /* Center items vertically */
}

.promo-text {
  flex: 1; /* Take remaining space */
}

.text-container {
  background-color: rgba(255, 255, 255, 0.9); /* Add background color */
  padding: 20px; /* Add padding */
  border-radius: 10px; /* Add border radius */
}


.promo-image {
  flex: 1; /* Take remaining space */
  text-align: right; /* Align image to the right */
}

.promo-image img {
  width: 100%; /* Make sure the image takes full width of its container */
  height: auto; /* Maintain aspect ratio */
  border-radius: 10px; /* Add border radius */
  margin-top: 20px; /* Add margin */
}

/* Stil pentru întunecarea imaginii */
.image-item img.darken {
  filter: brightness(70%);
}

/* Stil pentru afișarea mesajului text */
.image-item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s;
  border-radius: 10px;
}

/* Stil pentru afișarea mesajului text la hover */
.image-item:hover .overlay {
  opacity: 1;
}

/* Stilizare footer */
footer {
  padding: 50px 0; /* Spațiere între conținut și margini */
  text-align: center; /* Aliniere text la centru */
  display: flex; /* Setare footer ca flex container */
  justify-content: space-between; /* Așezare elemente la margini */
}

/* Stilizare secțiune stângă */
.left-section {
  width: 50%; /* Lățimea secțiunii stângi */
}

/* Stilizare secțiune dreaptă (în caz că aveți conținut) */
/* Stilizare secțiune dreaptă */
.right-section {
  width: 50%; /* Lățimea secțiunii drepte */
  background-size: cover; /* Asigurare că imaginea de fundal acoperă întreaga secțiune */
  background-position: center; /* Centrare imagine de fundal */
  background-repeat: no-repeat; /* Împiedicare repetarea imaginii de fundal */
}


/* Stilizare pentru conținutul din secțiunea de contact */
.contact-section {
  max-width: 300px; /* Lățime maximă a conținutului */
  margin: 0 auto; /* Centrare conținut */
  text-align: left; /* Aliniere text la stânga */
  padding-left: 10px; /* Adaugare padding la stânga pentru spațiere */
}

.contact-section h2 {
  font-size: 24px; /* Dimensiune font pentru titlu */
  margin-bottom: 20px; /* Spațiere între titlu și formular */
}

.contact-section form {
  display: flex;
  flex-direction: column;
}

.contact-section .form-group {
  margin-bottom: 20px; /* Spațiere între grupurile de câmpuri */
  text-align: left; /* Aliniere text la stânga */
}

.contact-section label {
  font-size: 18px; /* Dimensiune font pentru etichete */
  display: block; /* Afisare etichete pe linii separate */
  margin-bottom: 5px; /* Spațiere între etichetă și câmp */
}

.contact-section input,
/* Stilizare textarea pentru mesaj */
.contact-section textarea {
  width: 100%; /* Latime 100% */
  padding: 10px; /* Spatiere in interiorul textarea */
  font-size: 16px; /* Dimensiune font pentru textarea */
  border: 1px solid #ccc; /* Border gri deschis */
  border-radius: 5px; /* Raza colturilor */
  resize: none; /* Face textarea-ul neresizabil */
}


.contact-section textarea {
  height: 120px; /* Inaltime textarea */
}

.contact-section button {
  width: 30%; /* Latime 100% */
  padding: 10px; /* Spatiere in interiorul butonului */
  font-size: 18px; /* Dimensiune font pentru buton */
  background-color: #70767c; /* Culoare de fundal pentru buton */
  color: #fff; /* Culoare text buton */
  border: none; /* Border none */
  border-radius: 5px; /* Raza colturilor */
  cursor: pointer; /* Cursor pointer la hover */
  transition: background-color 0.3s; /* Tranzitie culoare fundal la hover */
}

.contact-section button:hover {
  background-color: #0056b3; /* Culoare de fundal la hover */
}
