<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../public/css/adminCss.css" />
  <title>Admin Panel</title>
  <style>
    /* CSS for modal and overlay */



  </style>
</head>
<body>
<div class="side-menu">
  <div class="brand-name">
    <h1>Admin Page</h1>
  </div>
</div>
<div class="container">
  <div class="header">
    <div class="nav">
      <div class="search">
        <input type="text" placeholder="Search.." />
        <button type="submit">
          <img src="../public/img/search.png" alt="" />
        </button>
      </div>
      <div class="user">
        <a href="/redirectStatistics" class="btn">Statistics</a>
        <a href="/" class="styled-button">Home</a>
        <img src="../public/img/notifications.png" alt="" />
        <div class="img-case">
          <img src="../public/img/user.png" alt="" />
        </div>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="cards">
      <div class="card">
        <button id="exportToHTML">Export to HTML</button>
      </div>
      <div class="card">
        <button id="exportToCSV">Export to CSV</button>
      </div>
      <div class="card">
        <button id="exportToXML">Export to XML</button>
      </div>
      <div class="card">
        <button id="exportToJSON">Export to JSON</button>
      </div>
    </div>
    <div class="content-2">
      <div class="recent-payments">
        <div class="title">
          <h2>Users</h2>
        </div>
        <table>
          <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Role</th>
            <th>Login Status</th>
            <th>Action</th>
          </tr>
          <tr>
            <td>Info</td>
            <td>Info</td>
            <td>Info</td>
            <td>Info</td>
            <td>Info</td>
            <td><a href="#" class="btn submit-btn">Submit</a></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>

<div id="myModal" class="popup-validate-request">
  <div class="popup-validate-request-content">
    <span class="close">&times;</span>
    <div class="validate-request-box">
      <h2>Sign In</h2>
      <form id="validateOperationForm">
        <div class="input-group">
          <label for="email">Email</label>
          <input type="email" id="email" name="email" required>
        </div>
        <div class="input-group">
          <label for="password">Password</label>
          <input type="password" id="password" name="password" required>
        </div>
        <button type="submit">Sign In</button>
      </form>
    </div>
  </div>
</div>

<script src="../components/adminComponent.js"></script>
<script>
  // Get the modal
  var modal = document.getElementById("myModal");

  // Get the button that opens the modal
  var btns = document.querySelectorAll(".submit-btn");

  // Get the <span> element that closes the modal
  var span = document.getElementsByClassName("close")[0];

  // When the user clicks on the button, open the modal
  btns.forEach(btn => {
    btn.onclick = function(event) {
      event.preventDefault();
      modal.style.display = "block";
    }
  });

  // When the user clicks on <span> (x), close the modal
  span.onclick = function() {
    modal.style.display = "none";
  }

</script>
</body>
</html>
