<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../public/css/adminCss.css" />
  <title>Admin Panel</title>
  <style>
    /* CSS for modal and overlay */
  </style>
</head>
<body>
<div class="side-menu">
  <div class="brand-name">
    <h1>Admin Page</h1>
  </div>
</div>
<div class="container">
  <div class="header">
    <div class="nav">
      <div class="user">
        <a href="/redirectStatistics" class="btn">Statistics</a>
        <a href="/" class="btn">Home</a>
        <img src="../public/img/notifications.png" alt="" />
        <div class="img-case">
          <img src="../public/img/user.png" alt="" />
        </div>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="cards">
      <div class="card">
        <button id="exportToHTML">Export to HTML</button>
      </div>
      <div class="card">
        <button id="exportToCSV">Export to CSV</button>
      </div>
      <div class="card">
        <button id="exportToXML">Export to XML</button>
      </div>
      <div class="card">
        <button id="exportToJSON">Export to JSON</button>
      </div>
    </div>
    <div class="content-2">
      <div class="recent-payments">
        <div class="title">
          <h2>Users</h2>
        </div>
        <table>
          <thead>
          <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Role</th>
            <th>Login Status</th>
            <th>Actions</th>
          </tr>
          </thead>
          <tbody id="tableBody"> <!-- Ensure you have an ID here for table body -->
          <!-- This is where rows will be dynamically inserted -->
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<script src="../components/adminComponent.js"></script>
</body>
</html>
