* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 3px 8px 0 rgb(180, 178, 178);
}

.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 1);
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.fixed-header .logo .name,
.fixed-header .logo .subtitle,
.fixed-header nav ul li a {
  color: #333;
}

.logo {
  display: flex;
  flex-direction: column;
}

.logo .name {
  font-size: 40px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  text-shadow: 1px 1px 1px black;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  font-weight: bold;
  padding: 10px 20px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border-radius: 20px;
  transition: background-color 0.3s ease;
}

nav ul li a:hover {
  background-color: #9a9494;
}

.hero {
  background-color: #fff;
  padding: 190px 0;
  text-align: center;
  flex: 1;
}

.hero h1 {
  font-size: 30px;
  margin-bottom: 25px;
  font-weight: normal;
}

.btn {
  display: inline-block;
  padding: 10px 30px;
  background-color: #1E5573;
  color: white;
  text-decoration: none;
  border-radius: 20px;
  transition: background-color 0.5s ease;
}

.btn:hover {
  background-color: #0b0b0b;
}

#city {
  width: 300px;
  margin: 0 auto;
  border: 2px solid #2c7188;
  padding: 10px;
  text-align: center;
  font-size: 16px;
  border-radius: 20px;
}

#country {
  width: 350px;
  margin: 0 auto;
  border: 2px solid #2c7188;
  padding: 10px;
  text-align: center;
  font-size: 16px;
  border-radius: 20px;
}

button[type="submit"] {
  background-color: #FFB6C1;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #bc7a9a;
}

.left-section {
  float: left;
  width: 50%;
}

.right-section {
  float: right;
  width: 50%;
}

.right-section img {
  width: 100%;
}

.text {
  margin-bottom: 40px;
}

#beneficiaries-toggle {
  margin-right: 10px;
}

#create {
  text-align: center;
  flex: 1;
}

#create h2 {
  margin-bottom: 20px;
}

.text h2 {
  font-weight: normal;
}

#create button[type="submit"] {
  display: block;
  margin: 0 auto;
}

.styled-button {
  background-color: #1E5573;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}

.styled-button:hover {
  background-color: #0b0b0b;
}

#beneficiaries-toggle {
  display: block;
}

.checkbox-options {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}

.checkbox-options input[type="checkbox"] {
  margin-right: 5px;
}

.main-section {
  text-align: center;
  margin-bottom: 20px;
}

.main-section h2 {
  margin-bottom: 20px;
  font-weight: normal;
}

#beneficiaries-toggle {
  display: inline-block;
  padding: 10px 30px;
  background-color: #FFB6C1;
  border: none;
  color: white;
  border-radius: 10px;
  transition: background-color 0.5s ease;
  margin-bottom: 20px;
}

#beneficiaries-toggle:hover {
  background-color: #bc7a9a;
}

.checkbox-options {
  padding: 10px;
  border: 10px solid #ccc;
  border-radius: 5px;
  background-color: #f2f2f2;
}

.checkbox-options label {
  display: block;
  text-align: center;
  margin-bottom: 5px;
}

.checkbox-options input[type="checkbox"] {
  margin-right: 5px;
  border-radius: 50%;
}

.form-actions {
  display: flex;
  align-items: center;
  justify-content: center;
}

#add-image {
  width: 100px;
  height: auto;
  margin-right: 10px;
}

.create-section {
  background-image: url('../img/chestii2.png'); /* Apply the background image from the footer */
  background-size: cover; 
  background-position: center center; 
  padding: 20px;
  border-radius: 15px;
  width: 80%;
  max-width: 600px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

button[type="submit"] {
  background-color: #FFB6C1;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #bc7a9a;
}

input[type="date"] {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

input[type="date"]:focus {
  outline: none;
  border-color: #1E5573;
}

/* Media queries for responsiveness */
@media only screen and (max-width: 768px) {
  .logo .name {
    font-size: 30px;
  }

  .logo .subtitle {
    font-size: 20px;
  }

  nav ul li {
    margin-right: 10px;
  }

  nav a {
    font-size: 14px;
  }

  .title {
    padding-top: 5%;
    padding-bottom: 2%;
  }

  .left-section,
  .right-section {
    width: 100%;
  }
}

@media only screen and (max-width: 480px) {
  .logo .name {
    font-size: 24px;
  }

  .logo .subtitle {
    font-size: 16px;
  }

  nav ul li {
    margin-right: 5px;
  }

  nav a {
    font-size: 12px;
  }
}

@media only screen and (max-width: 280px) {
  .logo .name {
    font-size: 20px;
  }

  .logo .subtitle {
    font-size: 14px;
  }

  nav ul li {
    margin-right: 3px;
  }

  nav a {
    font-size: 10px;
  }

  .title {
    padding-top: 3%;
    padding-bottom: 1%;
  }

  .left-section,
  .right-section {
    width: 100%;
  }
}

